extends layout
    
block content
   section
     .consulta-container
       .consulta-container-filtro
         select#id_nombre.consulta-filtro(name='nombre')
           option(value='3') Nombre 
           option(value='4') Hora  
           option(value='5') Apellido  
           option(value='6') email 
       .consulta-container-txt
         input#fname.form-control.inputName(name='name', type='text', placeholder='Nombre')
       .consulta-container-btn
         #btn.consulta-btn
           | Buscar
     .consulta-tabla
       table(id='tabla')
     .consulta-imagen
   footer#footer
     .footer-texto.fondo
       .margen
         p Contacto en: 
         .footer-img
           a(href='https://www.facebook.com/edgar.ceronmiranda')
             img.footer-img-1(src='images/facebook.png', alt='')
           a(href='')
             img.footer-img-2(src='images/linkedin.png', alt='')
         .footer-final
           p Terms & conditions Privacy policy Copyrights Notification
           h6
             | ©2017 Derechos Reservados. unocero es una marca registrada de Servicios Track Cero, S.C.
             script(type='application/javascript' src='javascripts/consulta.js')
