extends layout
    
block content
   section
   .container-reservacion
    p Reservacion
    form#nueva-persona(method='post')
      label(for='equipo') Nombre:
      input#nombre(type='text', name='', value='', required='')
      label(for='puntos') Apellido:
      input#apellido(type='text', name='', value='', required='')
      label(for='puntos') Email:
      input#email(type='email', name='', value='', required='null')
      label(for='puntos') Telefono:
      input#telefono(type='number', name='', value='', required='')
      label(for='puntos') Asunto:
      textarea#area(name='', type='text', value='', rows='8', cols='80')
      input(type='submit', name='', value='Añadir Equipo')

   footer#footer
     .footer-texto.fondo
       .margen
         p Contacto en: 
         .footer-img
           a(href='https://www.facebook.com/edgar.ceronmiranda')
             img.footer-img-1(src='images/facebook.png', alt='')
           a(href='')
             img.footer-img-2(src='images/linkedin.png', alt='')
         .footer-final
           p Terms & conditions Privacy policy Copyrights Notification
           h6
             | ©2017 Derechos Reservados. unocero es una marca registrada de Servicios Track Cero, S.C.
             script(type='application/javascript' src='javascripts/reservar.js')
