body{
  margin: 0;
}

/*cuerpo*/
#cuerpo{
  height: auto;
  background-color: #F1F1F1;
  background-image: url("https://quieroun.files.wordpress.com/2012/07/fondo-web-paisaje-ilustracion.png?w=584&h=438");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.cuerp-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/64/ea/89/64ea89e77c7bf5f98522a6a2fd77d066.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  height: 58%;

}

.cuerp-reservar{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cuerp-consultar{
  width: 30%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #003569;
  color: #FDFFFC;
  width: 166px;
  height: 50px;
  border-radius: 12px;
}

.btn:hover{
  color : white !important;
}

.cuerp-logo-txt{
  width: 518px;
  margin-top: 289px;
}

.cuerp-logo-txt{
  text-align: center;
  opacity: .76 ;
}

/*-----------------------------------*/
/*Reservacion*/
#container-reservacion{
  display: flex;
height: 80vh;
align-items: center;
justify-content: center;
}

.container-reservacion{

}

#nueva-persona{
  display: flex;
  flex-direction: column;
}




/*-----------------------------------*/
/*Consulta*/
.consulta-container-filtro{
  margin-top: 7px;
}

.inputName{
width: 259px !important;
}

.consulta-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003569;
  color: #FDFFFC;
  width: 100px;
  height: 35px;
  border-radius: 12px;
}

.consulta-container{
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

.consulta-imagen{
  height: 40vh;
  background-color: #2EC4B6;
  background-image: url("http://4.bp.blogspot.com/-nEUjtg5zY48/VVkD-mrKYJI/AAAAAAAAAKw/afP5YXLMOOk/s1600/muela_feliz_by_starlita-d5u3062.png");
  background-position: center;
  background-repeat: no-repeat;
}

.consulta-tabla{
  width: 80%;
  margin: 0 auto;
}



/*footer*/
.footer-texto{
  background-color: black;
  display: flex;


  color: white;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.fondo{
  bottom: 0;
}

.footer-img{
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 40px;

}
.footer-img-1, .footer-img-2{
  width: 60px;
  border-radius: 100%;

}
.footer-final{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top:39px ;
}
