body{
  margin: 0;
}

/*cuerpo*/
#cuerpo{
  height: auto;
  background-image: url("https://st3.depositphotos.com/2435397/13635/i/1600/depositphotos_136358864-stock-photo-cartoon-scene-with-kids-playing.jpg");
  display: flex;
  height: 80vh;
}

.cuerp-reservar{
  width: 30%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cuerp-logo{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("http://worldartsme.com/images/dental-smile-clipart-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}

.cuerp-consultar{
  width: 30%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #011627;
  color: #FDFFFC;
  width: 100px;
  height: 50px;
  border-radius: 12px;
}

/*footer*/
.footer-texto{
  background-color: black;
  display: flex;


  color: white;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-img{
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 40px;

}
.footer-img-1, .footer-img-2{
  width: 60px;
  border-radius: 100%;

}
.footer-final{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top:39px ;
}
